<div class="page-404">
  <h1 class="page-404__title">Oops! Page Not Found</h1>
  <p class="page-404__text">
    We can't find the page you're looking for. Here are some of our top products to keep you inspired.
  </p>

  <!-- Product Grid -->
  {% render '404-product-grid' %}

  <!-- Return to Shop Button -->
  <div class="page-404__button">
    {% render 'custom-button', 
        button_text: 'Return to Shop', 
        button_link: '/collections/all', 
        button_style: 'primary' 
    %}
  </div>
</div>

